@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);

.title {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

header {
    padding: 8em 0;
}

.btn-default {
    background: #fff !important;
}

header, footer, .picker-wrapper {
  transition: background-color 0.5s ease;
}

header, footer {
    color: white;
    background: #303F9F;
/*    background-image: url("background.png");*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
}

h1.title {
    font-size: 4em;
    font-weight: bold;
}

pre {
    background: #212121;
    color: white;
}

header p {
    font-size: 1.4em;
}

footer {
    padding: 50px 0;
    text-align: center;
    font-size: 1.1em;
    margin-top: 3em;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

/* picker */
.color-picker {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
}

.color-selected {
    border: 1px solid;
    height: 50px;
    width: 50px;
}

.color-picker > div {
    width: 40px;
    display: inline-block;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    opacity: 0.95;
}

.picker-wrapper {
    padding: 20px;
}

.color-picker > div:hover {
    opacity: 1;
}

#speaker-icon {
    height: 25px;
    width: 25px;
    background: url('../assets/speaker.png') no-repeat;
    background-size: 20px 20px;
}

#tutorial {
    border: solid;
}
